@use "../assets/colors";

.layout {
  height: 100vh;

  .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 0;

    .randomBtn {
      display: flex;
      align-items: center;
      gap: 0 5px;
      font-size: 18px;
      color: colors.$black;
      cursor: pointer;

      svg {
        position: relative;
        top: 2px;
        fill: colors.$black;
      }
    }
  }

  .main {
    min-height: calc(100% - 150px);
  }

  .footer {
    margin-top: auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: colors.$gray;
    text-align: center;
    padding: 24px 0;

    span {
      font-weight: 700;
      text-decoration: underline;
    }
  }
}
